@font-face {
    font-family: 'avantgarde';
    src: url('../fonts/itc_avant_garde_gothic_lt_extra_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'subway';
    src: url('../fonts/subway-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'olivier';
    src: url('../fonts/olivier_01-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
